body{
    padding: 0;
    margin: 0;
    color: rgb(79, 48, 26);
}
.prnt-cont{
    width: 100%;
    overflow: hidden;
    
}
.pg-home{
    width: 100%;
    height: 100dvb;
    overflow: hidden;
}
.brnd-ban{
    width: 100%;
    height: 100%;
    background-image: url(Asset/media/Dolan2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.ca-space{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 20%;
    background-color: white;
    height: 3rem;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;


}
.ca-space p{
    text-transform: uppercase;
}
.media{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 25px;
    left: 25%;
    width: 40%;
    background-color: white;
    height: 5rem;
    border-radius: 40px;
    text-align: center;
    overflow: hidden;
    font-size: 2rem;
    letter-spacing: .1em;
    

}
.media p{
    text-transform: uppercase;
    font-weight: 900;
    
}

.pg-desc{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvb;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    overflow: hidden;
    
}

.desc{
    width: 80%;
    padding: 10px;
    letter-spacing: .1em;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 4rem;
}
.desc h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 4.3rem;
    
}
.marquee {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #000000;
    overflow: hidden;
    position: relative;
    height: 20%;
    width: 100%;
    /* Full width of its parent */
    white-space: wrap;
}

.marquee p {
    position: absolute;
    width: auto;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Start off the right edge */
    transform: translateX(100%);
    /* Animate to the left */
    animation: scroll-left 20s linear infinite;
}
.marquee img{
    height: 80%;
}
.pg-background{
    width: 100%;
    height: 100dvb;
    color: rgb(188, 108, 51);
    padding: 0;
}
.cont-background{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    
}
.background-1, .background-2{
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    letter-spacing: .1em;
    font-size: 2rem;
    line-height: 3rem;
    color: white;
    
}
.background-1{
    background-image: url(Asset/media/Dolan1.jpg);
}
.background-2{
    background-image: url(Asset/media/Dolan5.jpg);
}
.pg-xchange{
    width: 100%;
    height: 50dvh;
    padding: 0;
    background-color: black;
}
.cont-xchange{
    width: 90%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.cont-xchange div{
    width: 30%;
}
.cont-xchange div img{
    width: 100%;
    height: 100%;
}
.pg-tokenomics{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
}
.pg-tokenomics h1{
    font-size: 3rem;
}
.pg-tokenomics h2{
    font-size: 2rem;
}
.cont-fig{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-fig .tx-fig{
    width: 20%;
    border-radius: 40px;
    border: 3px solid gold;
    margin-right: 15px;
    padding: 5px;
    text-wrap: wrap;
    font-size: 1.2rem;
    line-height: 1.2em;
    text-align: center;
    background-color: wheat;

}
.tokenomics-ca{
    width: 55%;
    height: 3.5rem;
    background-color: black;
    border-radius: 45px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}
.pg-dolan{
    width: 100%;
    height: 100dvh;
    padding: 0;
    background-color: wheat;
}
.cont-dolan{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cont-dolan h2{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: fantasy;
}
.cont-map{
    width: 80%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cont-map div{
    width: 25%;
    height: 3rem;
    padding: 10px;
    border: 4px solid rgb(244, 224, 7);
    border-radius: 30px;
    background-color: black;
    color: white;


}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
@media only screen and (max-width: 900px){
    .ca-space{
        bottom: 70px;
        left: 25%;
        width: 50%;
    }
    .media{
        font-size: .8rem;
    }
    .pg-desc{
        overflow: unset;
        height: unset;
        
    }
    .desc{
        font-size: .8rem;
        font-weight: 900;
        letter-spacing: .1em;
        font-size: 1.5rem;
        line-height: 3rem;
        margin-top: 2rem;
    }
    .desc h2{
        font-size: 2rem;
    }
    .marquee{
        height: 30%;
        z-index: 999;
    }
    .cont-background{
        flex-direction: column;
    }
    .pg-background{
        width: 100%;
        height: 200dvh;
        overflow: scroll;
        padding: 0;
    }
    .cont-background{
        width: 100%;
        height: 100%;
        overflow: hidden;
        flex-wrap: nowrap;
    }
    .background-1, .background-2{
        padding: 15px;
        width: 100%;
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pg-xchange{
        width: 100%;
        height: 80dvh;
        padding: 0;
        background-color: black;
        overflow: hidden;
    }
    .cont-xchange{
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .cont-xchange div{
        width: 40%;
    }
    .pg-tokenomics{
        height: 200dvh;
        overflow: hidden;
    }
    .pg-tokenomics h2{
        font-size: 1.5rem;
    }
    .cont-fig{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cont-fig .tx-fig{
        width: 40%;
        border-radius: 20px;
        border: 3px solid gold;
        margin-bottom: 10px;
        padding: 5px;
        text-wrap: wrap;
        font-size: 1.2rem;
        line-height: 1.5em;
        text-align: center;
        background-color: wheat;
    
    }
    .tokenomics-ca{
        width: 70%;
        height: 3.5rem;
        background-color: black;
        border-radius: 30px;
        text-align: center;
        font-size: 1rem;
        color: white;
    }
    .pg-dolan{
        width: 100%;
        height: 100dvh;
        padding: 0;
        background-color: wheat;
        overflow: hidden;
    }
    .cont-dolan{
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .cont-dolan h2{
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: fantasy;
    }
    .cont-map{
        width: 80%;
        height: 70%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .cont-map div{
        width: 25%;
        height: 3rem;
        margin-bottom: 15px;
        padding: 10px;
        border: 4px solid rgb(244, 224, 7);
        border-radius: 30px;
        background-color: black;
        color: white;
    
    
    }
    


}